<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85607312637-gc0bun037lbemhggku0br4khddde7ks4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85607312637-gc0bun037lbemhggku0br4khddde7ks4</string>
	<key>API_KEY</key>
	<string>AIzaSyA-3OiaQj05xkkBx35F8qXyTd5vX4w9CRw</string>
	<key>GCM_SENDER_ID</key>
	<string>85607312637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterThemer</string>
	<key>PROJECT_ID</key>
	<string>flutter-themer-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-themer-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85607312637:ios:881032cc00fca44eae6294</string>
</dict>
</plist>